---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div
  class:list={[
    "screen-line-before screen-line-after relative flex h-4 w-full md:border-x",
    "before:absolute before:-left-[100vw] before:h-full before:w-[200vw]",
    // Replace the striped background with dotted pattern
    "before:bg-[image:radial-gradient(rgba(0,0,0,0.05)_2px,transparent_2px)] dark:before:bg-[image:radial-gradient(rgba(255,255,255,0.05)_2px,transparent_2px)] before:bg-[size:15px_15px]",
    className,
  ]}
>
  <slot />
</div>
